<footer class="footer_area section_padding_130_0">
      <div class="container">
        <div class="row">
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-footer-widget section_padding_0_130">
                  <!-- Footer Logo-->
                  <div class="footer-logo mb-3">
                    <a href="https://www.ultramaille.com/" target="_blank">
                      <img src="{{ asset('assets/images/Logo.png') }}" alt="Logo ultramaille"  class="logofooter">         
                    </a>
                  </div>
                </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">About</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <p style="font-weight:400; font-size:15px;">
                  Un système informatique conçu pour organiser, stocker et faciliter l'accès aux documents et aux informations liés aux projets techniques. 
                </p>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Adresse</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li style="font-weight:400; font-size:15px;">Lot : II G 55 TER NBA Ambatomaro.</li>
                  <li style="font-weight:400; font-size:15px;">BP : 3298 Antananarivo(101) MADAGASCAR.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Contact</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li style="font-weight:400; font-size:15px;"><i class="fa-solid fa-phone" style="margin-right: 5px; color:#C70039;"></i> +261 34 11 855 22</li>
                  <li style="font-weight:400; font-size:15px;"><i class="fa-solid fa-envelope" style="margin-right: 9px; color:#C70039;"></i> Info@gmail.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>