<nav>
    <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <span class="logo navLogo"><a href="https://www.ultramaille.com/" target="_blank">Ultramaille SA</a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="https://www.ultramaille.com/" target="_blank">Ultramaille SA</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#contact">Contact</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="#">Clients</a></li>
                    {% endif %}                    
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light"></div>
                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>

            <div class="darkLight-searchBox">
                <div class="searchBox">
                    <div class="dropdown">
                        <p class="dropbtn btn btn-secondary" style="border-radius: 5px;  color:#fff; padding: 5px 10px; border: none; margin-top: 15px;">
                            <i class="fa-solid fa-user-tie fa-lg" style="font-size: 20px;"></i>
                        </p>
                        <div class="dropdown-content">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="dropdown-item">Connexion</a>
                            <a href="{{ path('app_register') }}" class="dropdown-item">Inscription</a>
                        {% endif %}   
                        </div>
                    </div>
                </div>
            </div>
    </div>
</nav>