{% extends 'base.html.twig' %}

{% block title %}Fichier technique{% endblock %}

{% block body %}

     <section>
        <div class="container">
            <div>
                <div class="photo-background">
                    <img src="{{ asset('assets/images/2a.jpg') }}" alt="Williamson" style="width:1100px;; height:100vh;">
                </div>
            </div>
            <div>
                <div class="photo-tags">
                    <ul>
                        <li><a href="#">Imprimer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
