{% extends 'base.html.twig' %}

{% block title %}Liste des dossiers techniques{% endblock %}

{% block body %}
<div class="col-md-10 offset-md-1">
    <h1>Liste des dossiers techniques</h1>
    <section></section>
    <div class="container" style="margin-bottom:15px;">
        <div class="row">
            <div class="col">
                <div class="box" style="width:200px; height:200px;">
                    <img src="{{ asset('assets/images/img-1.jpg') }}" alt="Williamson">
                    <div class="box-layer"></div>
                    <div class="box-content">
                        <h5>Plan tricotage</h5>
                        <p>Reference: 1198</p>
                        <p>Taille: 8A</p>
                        <a class="read-more" href="#">Read more&nbsp;</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box" style="width:200px; height:200px;">
                    <img src="{{ asset('assets/images/img-1.jpg') }}" alt="Williamson">
                    <div class="box-layer"></div>
                    <div class="box-content">
                        <h5>Plan tricotage</h5>
                        <p>Reference: 1198</p>
                        <p>Taille: 8A</p>
                        <a class="read-more" href="#">Read more&nbsp;</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box" style="width:200px; height:200px;">
                    <img src="{{ asset('assets/images/img-1.jpg') }}" alt="Williamson">
                    <div class="box-layer"></div>
                    <div class="box-content">
                        <h5>Plan tricotage</h5>
                        <p>Reference: 1198</p>
                        <p>Taille: 8A</p>
                        <a class="read-more" href="#">Read more&nbsp;</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box" style="width:200px; height:200px;">
                    <img src="{{ asset('assets/images/img-2.jpg') }}" alt="Williamson">
                    <div class="box-layer"></div>
                    <div class="box-content">
                        <h4 class="title">Williamson</h4>
                        <p class="description"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.<br><br></p>
                        <a class="read-more" href="#">Read more&nbsp;</a>
                    </div>
                </div>
            </div>       
        </div>
    </div>
    <section></section>
</div>

{% endblock %}
