{% extends 'base.html.twig' %}

{% block title %}Fichier technique{% endblock %}

{% block body %}

     <section>
        <div class="container">
            <div>
                <div class="photo-background">
                    <img src="{{ asset('assets/images/2a.jpg') }}" alt="Williamson" style="width:1100px;; height:100vh;">
                </div>
            </div>
            <div>
                <h2>Plan tricotage</h2>
                <ul>
                    <li>Reference: N 229</li>
                    <li>Composition du fil: 100% coton</li>
                    <li>Taille: 2A</li>
                    <li>Date de creation: 08/09/05</li>
                </ul>
                    <div class="photo-tags">
                        <ul>
                            <li><a href="#">Imprimer</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </section>

{% endblock %}
